:root {
  --mainBackgroundColor: hsl(212, 45%, 89%);
  --cardBackGColor: hsl(0, 0%, 100%);
  --firstFontColor: hsl(218, 44%, 22%);
  --secondFontColor: hsl(220, 15%, 55%);
}

.body {
  background-color: var(--mainBackgroundColor);
  font-family: 'Outfit', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  max-width: 100%;
  height: 100vh;
}

@media (min-width: 1440px) {
  .container {
    /* margin: 0 auto; */
    /* padding: auto 115px; */
    /* align-content: center; */
    margin: 0 auto;
    /* margin: 100px auto; */
    /* max-width: 375px; */
    /* max-width: 1440px; */
    position: relative;
  }
}
.qr-card {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
  border-radius: 25px;
  padding: 15px;
  background-color: var(--cardBackGColor);
  max-width: 315px;
  /* max-height: fit-content; */
}
@media screen and (min-width: 1440px) {
  .qr-card {
    max-width: 450px;
    height:700px;
    padding: 20px;
    /* height: 800px; */
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  }
}

.qr-card__img-div {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  max-width: 285px;
  /* height: 285px; */
  border: 0;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--cardBackGColor);
}
@media (min-width: 1440px) {
  .qr-card__img-div {
    max-width: 410px;
    /* height: 400px; */
  }
}

.qr-card__img {
  width: 285px;
  height: 285px;
  /* height: fit-content; */
}

@media (min-width: 1440px) {
  .qr-card__img {
    width: 410px;
    height: 410px;
  }
}

.qr-card__description-div {
  padding: 15px;
}
@media (min-width: 1440px) {
  .qr-card__description-div {
    padding: 20px;
  }
}

.qr-card__header {
  font-weight: 700;
  text-align: center;
  font-size: 22px;
  line-height: 1.35;
  color: var(--firstFontColor);
}
@media (min-width: 1440px) {
  .qr-card__header {
    font-size: 30px;
  }
}

.qr-card__paragraph {
  font-weight: 400;
  text-align: center;
  font-size: 15px;
  line-height: 1.35;
  margin-bottom: 10px;
  color: var(--secondFontColor);
}

@media (min-width: 1440px) {
  .qr-card__paragraph {
    font-size: 21px;
    margin-bottom: 20px;
  }
}
